@charset "utf-8";
* {
    text-decoration: none;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}
#container {
    width: 100%;
}
#header {
    background-color: #ffffff;
    color: #37474f;
    position: relative;
}
#header h1 {
    margin: 25px;
    font-size: 5em;
}
#header h2 {
    margin: 25px;
}
#mainlogo {
    width: 200px;
    height: 138px;
}
#coles {
    width: 200px;
    height: 75px;
}
#pagetitle {
    background-image: linear-gradient(to right, #0170C1, white);
}
#pagetitle h1 {
    text-align: center;
    color: #37474f;
    font-size: 3.0em;
    letter-spacing: 0.5ex;
    line-height: 2.0em;
}
#pagetitle img {
    height: 80px;
    width: 80px;
    margin: 5px;
}
#navmenu {
    width: 10%;
    background-color: #fff000;
}
nav ul {
    text-align: center;
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
}
nav li a {
    display: block;
    color: #37474f;
    text-decoration: none;
    margin-top: 25%;
	transition: 0.2s ease-out;

}
nav li a:hover {
    background-color: #0170C1;
    color: white;
}
nav li a:active {   
    background-color: #0170C1;
    color: #fff000;
}
.selected{
    background-color: #0170C1;
    color: white;
}

#content {
    text-align: left;
    padding: 25px;
    color: #37474f;
	font-size: 1.5em;
}
#content h1, h2, h3 {
    text-align: center;
}
#content p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
	margin-left: 5%;
	margin-right: 5%;
}
#content ol li, ul li{
	
    padding: 0 0 20px 0;
    line-height: 1.2em;
	margin-left: 5%;
	margin-right: 5%;
}
#content a{
	color:#0170C1;
}
#content a:hover {
    color: #0170C1;
}
#right {
    width: 10%;
}
#footer {
    height: 100px;
    width: 100%;
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #37474f;
    color: #b0bec5;
    font-size: 0.80em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer p {
    line-height: 1.25em;
}
#footer a {
    color: #b0bec5;
}
#footer a:hover {
    color: #0170C1;
}
 @-webkit-keyframes scroll {
 0% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
 100% {
 -webkit-transform: translateX(calc(-250px * 7));
 transform: translateX(calc(-250px * 7));
}
}
 @keyframes scroll {
 0% {
 -webkit-transform: translateX(0);
 transform: translateX(0);
}
 100% {
 -webkit-transform: translateX(calc(-250px * 7));
 transform: translateX(calc(-250px * 7));
}
}
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    width: 750px;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
 width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}
